{% extends "equipdb/base.html" %}
{% load staticfiles %}


{% block content %}

<h1> About</h1>
<P> Written by Dan Simmons 2015</p>

<h2>Overview</h2>
<p> QRBase is an online tool intended for <a href="http:\\RichmondMakerLabs.uk" target="_blank">RichmondMakerLabs</a> club to track, and manage documentation, for donated items of equipment, member's electronics projects, and contents of containers.</p>
<p>
Full description, documentation and source code for this project is at  <a href="https://bitbucket.org/Tootman/qrbase" title="bitbucket.org/Tootman/qrbase" target="_blank">bitbucket.org/Tootman/qrbase</a>
</p>

<h2>Quick Instructions </h2>
<ol>
	<li>On your smartphone's browser go to http://kit.richmondmakerlabs.uk/ </li>
   <li> Click log in</li>
   <li> click Register (assuming you are a new user)</li>
   <li> Create a user name and password and press register</li>
   <li> Go to the home page (using menu tab or clicking the logo)</li>
    <li>Click 'new item'</li>
   <li>  Fill in fields as necessary then submit</li>
    (Now you should be on the item's new page) - press change featured image - this allows the user to take a photo of the item <li>with your phone etc - then click 'upload'</li>
   <li> Add the  categories as necessary</li>
    <li>Add Any any comments as necessary - </li>
    <li>Please put a TEMPORARY sticker on the item to indicate that the item has already been added to the database (Any old sticker/label ). On the sticker please write the ID number of the item</li>
   </ol>

 {% endblock %}