

{% load bootstrap3 %}
{# Load CSS and JavaScript #}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load staticfiles %}

<style>
.navbar-nav>li>a:hover{

	color:red;
}

</style>


<html>
<head>
	<title>RML EQUIPMENT TRACKING</title>
	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	

<style>
body {

	font-family:sans-serif;
	margin:auto;
}
</style>
</head>
<body>

<div id="my_log_in" style="float:right;margin:20px;">
{% if request.user.is_authenticated %}
		Welcome {{ user.username }} | <a href="/logout"> logout</a>
	{% else %}
		<a href="/login"> login</a>
	{% endif %} 
</div>


<div style="padding:20px;float:left; "/ >
<a href = "/" title="back to home page" style="text-decoration:none;">
	<img src="{% static 'images/logo4.gif' %}" width="50%" alt="RML_logo" class="img-responsive"/>
</a>
</div>
<div style="display:inline-block;clear:right;max-width:800px; margin:10px;">
	<form action="/search/" method="POST"  >
	  <div class="">
	    <div class="input-group">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="submit" value="Submit"><span class="glyphicon glyphicon-search"></span> Search </button>
	      </span>
	      <input type="text" class="form-control" placeholder="e.g. '123456' or 'Dell printer' or leave BLANK to return all items" name="search_str">
	      {% csrf_token %} 
	    </div><!-- /input-group -->

	  </div><!-- /.col-lg-6 -->
	 </form>
</div>



<div align="center" style="clear:left;background:rgb(11, 107, 7);padding-top:30px;padding-bottom:30px;border-left: 25px solid Tomato  ;border-right: 25px solid PaleGreen ;">
	<div style="font-size:50px;color:white;font-style:bold;">QRBase</div>
	<div style="clear:left;font-size:12px;color:beige;font-style:italic;">A database and QRcode tracking system for things containing other things</div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
       </ul>
    </div>
 </div>
</nav>


<div class="container" style="display:block;clear:both">
	{% block content %}
		Sorry no content here!
	{% endblock %}
</div>

<div >
	 {% include "equipdb/base_footer.html" %}
</div>

</body>
</html>
