

{% block footer %}
<div style = "width:100%; background-color:grey;color:white;margin-top:10px; height:20px;padding-top:10px;; 
bottom: 0;">
	<p align="center">!footer!</p>
</div>
<a href="http://www.beyondsecurity.com/vulnerability-scanner-verification/kit.richmondmakerlabs.uk"><img src="https://seal.beyondsecurity.com/verification-images/kit.richmondmakerlabs.uk/vulnerability-scanner-2.gif" alt="Website Security Test" border="0" /></a>

{% endblock %}
