{% extends "equipdb/base.html" %}
{% load staticfiles %}


{% block content %}



 
 <img src="{% static 'images/my_label.png' %}"  alt="QRCOde image" style = "border-style:solid;border-width:1px;margin:10px;padding:10px; border-radius:6px;" class="img-responsive"> 

  

<form action="/print_label/" method="GET">
 	
        <input type="hidden" name="item_id" value="{{ id }}">
        
     	
    	<button type="submit" class="btn btn-primary" value="Submit">Print label</button>
 </form>
{% endblock %}
