{% extends "equipdb/base.html" %}
{% load staticfiles %}


{% block content %}

<style>

.mybox{

	border-style:solid;
	border-width:1px;
	border-color:lightgrey;
	min-height:140px;
}

#form-block{

	background-color:Gainsboro;
	padding:bottom:10px;
	margin-bottom:10px;
	
}


</style>

<body>
<div class="container-fluid">
	<div class="row" style="margin-top:10px;margin-bottom:10px;">
		<div class="col-sm-4" style="display:block;height:256px;background-color:white;">
			<img  src="{% static 'images/uploaded_image_thumbnail' %}_{{id}}.jpg" alt="Item image" class="img-responsive"/>
		</div>
		<div class="col-sm-8">

			<h2 > {{ id }}: {{ descriptive_name }}</h2>
			Item created by: {{ user }}
		</div>
	</div>
    <div class="col-sm-12 row"><hr></div>

	<!-- this form submits when loan changes or the submit button is pressed   -->
  <form action="/change_loan" method="post" class="form-horizontal"  >
   <div id="form-block">
	<div class="row">
			{% csrf_token %}
			<input type="hidden" name="item_id" value="{{ id }}"/>
			 
		 	<div class="col-sm-4" >
		      <label class="control-label">Make/Model: </label>
		      <input class="form-control" id="model_txt"  name= "model_txt" type="text" value="{{ model_txt }}">
		     </div>
		    
		     <div class="col-sm-4" >
		       <label class="control-label">Serial number:</label>
		       <input class="form-control" id="serialno" name = "serialno" type="text" value="{{ serialno }}">
		     </div>

		     <div class="col-sm-4" >
		      <label class="control-label"> Notes:</label>
		      <input class="form-control" id="notes" name="notes" rows="3" type="text" value="{{ notes }}"></input>
		     </div>
	</div>

	<div class="row">
		<div class="col-sm-4">
		    <label class="control-label"> Parent container ID
		     <input class="form-control" id="container" name="container" placeholder="container id" type="text" value="{{container}}"></input>
		     <a href = "/{{container}}" title=" goto parent container"> {{container}}: {{parent_description}}</a> </label>
		</div>

		<div class="col-sm-4">
			<Label> Item loan to: </label>
			<select class="form-control" name="change_loan_id">
			<option value="0">Item returned to LittleHouse</option>
				{% for user in user_list %}
					<option value="{{user.id}}"
						{% if user.username == on_loan_to_user %}
							selected="selected"
						{% endif %}
							>{{ user.username }}</option>
						{% endfor %}
			</select>
		</div>

		<div class="col-sm-3">
		    <br><button   class="btn btn-warning form-control"   value="update">Save changes</button>
		</div>
	</div> <!-- row  -->

	

   </form>
	</div>

 	<div class="row">
 		<div class="col-sm-12"><hr></div>
 	</div>

	<div class="row">
		<div id="contains_children" class="col-md-4 mybox" >
 		   <label>This item contains <button class="btn"  data-toggle="collapse" data-target="#contains-help">?</button></label>
 		    <div class="collapse" id="contains-help">
			click a link to display an contained item. 
			</div>
	 	   <ul>
	 		{% for child in children_list %}
				<li><a href="http://kit.richmondmakerlabs.uk/{{child.id}}">{{child.id}}&#58; {{child.descriptive_name}}</a></li>
			{% empty %}
	    		<li>Nothing (this item is not a container)</li>
			{% endfor %}
		   </ul>

	    </div> 


   		<div  class="col-md-4 mybox" >
			<Label> Change featured image <button class="btn"  data-toggle="collapse" data-target="#upload-photo-help">?</button></label>
			<div class="collapse" id="upload-photo-help">
			You can upload a photo of the item. If you are taking a photo, make sure aspect setting of your camera is roughly rectangular 4:3, since the image will be stretched into a square box when displayed.
			</div>

			<form action="/upload/" method="post" enctype="multipart/form-data">{% csrf_token %}          
		    	 <input id="id_image" type="file" class=" btn btn-default btn-file form-control" name="mefile"  accept="image/*;capture=camera" size="155">

		    	  <input type="hidden" name="item_id" value="{{ id }}">
		    	  <br>
		          <button  class="btn btn-primary"  value="Submit">Upload</button>
			 </form>
		 </div>


	 	
	 	<div  class="col-md-4 mybox" >
	 		<label>Generate batch of QR label files (.PS) </label>
	 		<button class="btn "  data-toggle="collapse" data-target="#print-qr-help">?</button>
			<div class="collapse" id="print-qr-help">
			 pressing the button creates a batch of qr codes in the servers images folder, for printing out later - this is a temporary  work around - see Dan for details.
			</div>

	 		<form action="/reprint_qr/" method="POST">{% csrf_token %}
	 			<input type="hidden" name="item_id" value="{{ id }}">
	 			<br>
	 			<button type="submit" class="btn btn-primary">Create</button> 
			 </form>
	 	</div>
	 </div> 
	 


	 
		<div  class="col-sm-4 mybox">
	 	  
	 		<label>Categories</label>
		 	<form action="/cat" method="get"> 
		 		
		 		{% for my_cat in categories %}
		 			<button class="btn " name="category" value="{{my_cat.id}}">{{my_cat.name}}</button>
		 		{% empty %}
		 		{% endfor %}
		 		</ul>
		 	</form>
	 		<button class="btn btn-warning"  data-toggle="collapse" data-target="#edit-cats">Edit</button></label>
			<div class="collapse" id="edit-cats">
			<form action="/add_category" method="post">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ id }}"/>
				<select class="form-control" name="cat_id" onChange="this.form.submit()">
					<option selected="selected" disabled="disabled">Add item to category</option>
						{% for cats in other_categories %}
							<option value="{{cats.id}}"	>{{ cats.name }}</option>
						{% endfor %}
				</select>
				<br>
			</form>
			<form action="/remove_category" method="post">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ id }}"/>
				<select class="form-control" name="cat_id" onChange="this.form.submit()">
						<option selected="selected" disabled="disabled">Remove from category</option>
						{% for cats in categories %}
							<option value="{{cats.id}}"	>{{ cats.name }}</option>
						{% endfor %}
				</select>
			  </form>
		</div>

			

		</div>
	</div> <!-- row -->



 <div class="row">
 	<div class="col-sm-12"><hr></div>
 </div>

 <div class="row">
	<div class="col-sm-12">
		<h2> Comments <button class="btn "  data-toggle="collapse" data-target="#comments-help">?</button></h2>
		<div class="collapse" id="comments-help">
		 You could use the comments section for documenting the item test or service  history or for general discussion about the item.
		</div>

		{% for field in my_comments %}
			<p>	     
			     Posted by {{ field.user }} <br>
			     {{ field.pub_date }}<br>
			      <p>{{ field.content }}</p>
			      <hr>
			    
			</p>  
		{% endfor %}
	</div>

	<form action="/new_comment/" method="POST"> 
        <input type="hidden" name="item_id" value="{{ id }}">
        <textarea   rows= "4" class="form-control"  placeholder="Add your comment here eg 'test result or details of fault or repair history, or general notes on this item"  name="new_note"></textarea> 
     	{% csrf_token %} 
    	<button type="submit" class="btn btn-default" value="Submit">Submit comment</button>
 	</form>
 </div>
<div> <!-- container -->
</body>
	
{% endblock %}
