{% extends "equipdb/base.html" %}


{% block content %}

<!-- todo: this to bootstrap button  --> 
	
<div class="container-fluid">
	
	<div class="row" style="margin-top:10px;">
		<div class="col-sm-4" ><h2 >Categories:</h2></div>
		 <div class="col-sm-4">
			 <form action="/cat" method="get"> 
						
					{% for my_cat in categories %}
					 	<button class="btn btn-info " style="margin:5px;" name="category" value="{{my_cat.id}}">{{my_cat.name}}</button>
					 {% empty %}
					 {% endfor %}
				
			</form>
		</div>
	</div>





	<!-- 
	<div class="col-xs-12 text-center"  >
		<hr>

		<a ref="/new_item_form/" role="button" class=" btn btn-primary glyphicon glyphicon-plus-sign" title="Create a new entry in the database for an item equipment (or a container)">
		
		 Item</a>
	</div>
-->
<p>
<div class="col-xs-12 text-center"  >
	<a  href="/new_item_form/" class=" btn btn-primary btn-lg"  title="Create a new entry in the database for an item equipment (or a container)">New item</a>
</div>

</div>

{% endblock %}
