{% extends "equipdb/base.html" %}


{% block content %}

<h2>Item not found</h2>

<p>That didn't work - are you sure that item exists - you need to look for six digit id number on the label"</p>



{% endblock %}