<!--  login created following https://www.youtube.com/watch?v=CFypO_LNmcc (Python Django tutorial 9 - users login and logout by Mike Hibbert  -->


{% extends "equipdb/base.html" %}

{% block content %}

{% if form.errors %}
	<p class="error">Errors! sorry</p>
{% endif %}


<form action="/auth" method="post">{% csrf_token %}
	<label for="username">User name:</label>
	<input type="text" name ="username" value="" id="username">
	<label for="password"> Password:</label>
	<input type="password" name = "password" value="" id="password">
	<input type = "submit" value="login">
</form>
<p> <a href="/accounts/register/">You need to register if want to make changes.</a></p>

{% endblock %}

