{% extends "equipdb/base.html" %}


{% block content %}

<!-- todo: this to bootstrap button  --> 
<hr>
<h3>
{{message}}
</h3>

 <div class="col-xs-12 text-center"  >
	<a  href="/{{action_page}}/" class=" btn btn-primary btn-lg"  title="{{action_page}}">{{call_to_action}}</a>
</div>

{% endblock %}
