{% extends "equipdb/base.html" %}
{% load staticfiles %}


{% block content %}
<h2>Thank you - you have created a new item:</h2>
<ul>
	<li>id: {{ my_id }}</li>
	<li>Item name: {{ my_name }} </li>
	<li>Model: {{ my_model }}</li>
	<li>serial number: {{ my_serialno }}</li>
	<li>notes: {{ my_notes }}</li>
</ul>
<hr>

<p>
	Here is the label for this item
</p>


 
 <img src="{% static 'images/my_label.svg' %}"  alt="QRCOde image" style = "border-style:solid;border-width:1px;margin:10px;padding:10px; border-radius:6px;" class="img-responsive"> 

  

<!-- <form action="/print_qr/" method="POST">  -->
 	
        <input type="hidden" name="item_id" value="{{ id }}">
        
     	{% csrf_token %} 
    	<button type="submit" class="btn btn-primary" value="Submit">Print Label</button>
 </form>
{% endblock %}
