{% extends "equipdb/base.html" %}

<html>
<head>
    <title>NewItem</title>
</head>

{% block content %}
<h1>Create a new Item</h1>
<h4><em>This will simultaniously generate a new item in the equipment database, and the label, so make sure the label maker is connected to the network etc </em></h4>
    <form action="/new_item_return/" method="POST">
        <div class="form-group">
        	<label>Descriptive name </label>
        	<input type="text" class="form-control" placeholder="eg Dell Printer X300" name="item_descr_name_txt">
        </div>
         <div class="form-group">
        	<label>Model  <em> (optional) </em></label>
        	<input type="text" class="form-control" placeholder="eg 22345642" name="item_model_txt">
        </div>
        <div class="form-group">
        	<label>Serial number <em>(optional) </em></label>
        	<input type="text" class="form-control" placeholder="eg 22345642" name="item_serialno_txt">
        </div>

        <div class="form-group">
        	<label>Notes <em>(optional)</em> </label>
        	<input type="text" class="form-control" placeholder="eg Dell Printer X300 s/n 322234, " name="item_notes_txt">
        	{% csrf_token %} 
        </div>

       

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}