{% extends "equipdb/base.html" %}
{% load staticfiles %}


{% block content %}

<style>

.gridbox{
	border-width:6px;
	border-color:rgb(244, 240, 206);
	 border-style: solid;
}


.gridbox:hover {
  background-image: green;
  border-style: solid;
  border-width: 6px;
  border-color: rgb(255, 223, 63);

}



</style>

<h2>{{heading}}</h2>

		
		{% for field in my_rs %}
		    <a href="/{{ field.id }}" title="Item {{ field.id }}: {{ field.descriptive_name }}" >
		    	<div class="col-xs-4 gridbox" style="margin-top:10px;margin-bottom:10px;margin-left:10px; margin-right:10px; height:256px;width:256px; background-color:rgb(244, 240, 206) ;padding:0px;"  >

		    		<div style="position:absolute;left:0px;top:60px;margin-left:10px;margin-right:10px;font-size:2em;color:rgb(64,64,126);" z-index="-10">
		    			{{ field.descriptive_name }}
		    		</div>


		    		<div style="position:absolute;left:0px;top:0px;" >
		    			<img  onError="this.style.display = 'none';" alt="" width="100%" src="{% static 'images/uploaded_image_thumbnail' %}_{{field.id}}.jpg" />
		    		</div>

		    	

		    		<div style="display:block;width:100%;position:absolute;left:0px;top:0px;margin-right:0px; margin-bottom:10px; background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) );color:white;text-align:center;" >

		    		Item {{ field.id }}</br>
		    		{{ field.descriptive_name }}<br>
		    		{{ field.model_txt }} {{ field.serialno }}
		    		</div>
		    	</div>
		   </a>
		 {% endfor %}
	
{% endblock %}