{% extends "equipdb/base.html" %}
{% load staticfiles %}


{% block content %}
<div id="table_div>"
<h2> Search Results</h2>

<form action="/" method="GET"  >
<table class="table table-striped ">
    <thead>
      <tr>
        	<th>Item</th>
       		<th>Model</th>
       	 	<th>Serial</th>
       	 	<th>photo</th>
     </thead>
     <tbody>
    </tr>
	
		{% for field in my_rs %}
		    <tr>
		  	  <td> <a href="/{{ field.id }}" class="btn btn-info" role="button">{{ field.id }} : {{ field.descriptive_name }}</a></td>
		      <td> {{ field.model_txt }}</td>
		     <td>{{ field.serialno }}</td>
		     <td><img src="{% static 'images/uploaded_image_thumbnail' %}_{{field.id}}.jpg" alt="Item image"/></td>
		    </tr>
		{% endfor %}
	</form>

	</tbody>
</div>
{% endblock %}
