<header >


<a href = "/" title="back to home page" style="text-decoration:none">
	<img src="D:\documents\pythonApps\2-7_apps\djs-django\mysite\mysite\static\images\logo4.gif" alt="RML_logo"
	style="margin:20px;"/>
</a>
<a href = "/login" title="login" style="float:right;margin:20px"> login</a>

	<div style="background:beige;height:40px;float-left;padding:20px;text-align:center;font-size:30px;;">Equipment database</div>



</header>