{% extends "equipdb/base.html" %}

{% block content %}

<h2>Test page</h2>

{% autoescape off %}{{var1}}{% endautoescape %}
<br>
{{var1}}



<form action="/upload/" method="post" enctype="multipart/form-data">{% csrf_token %}
                <p>
                    <input id="id_image" type="file" class="" name="mefile"  accept="image/*;capture=camera">
                </p>
                <input type="submit" value="Submit" />
 </form>



{%endblock %}